*{
    margin: 0;
    padding: 0;
}

.header{
  background: linear-gradient(to right, black, blue);
  color: rgba(255, 255, 255, 0.842);
  text-transform: uppercase;
  text-align: center;
  height: 5rem;
}
.header__main{
  letter-spacing: 1rem;
  padding-top: 15px;
}


.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    opacity: 0;
    text-align: center;
    background: rgba(26, 22, 22, .7);
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }
  .modalDialog:target {
    opacity: 1;
    pointer-events: auto;
  }
  .modalDialog > div {
    width: 32rem;
    height: 15rem;
    position: relative;
    margin: 10% auto;
    padding: 10px 60px;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(5, 31, 116), rgb(14, 14, 58));
    color: aliceblue;
  }

  .form__group{
    display: inline-block;
    padding: 5px;
    margin-bottom: 3rem;
  }
  .form__input{
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    margin-right: 10px;
  }
  .form__submit{
    padding: 5px 15px;
    font-size: 1rem;
    border-radius: 5px;
    background: rgb(47, 70, 133);
    border: none;
    color: antiquewhite;
  }
  .form__submit:hover{
    background: rgb(96, 96, 107);
    cursor: pointer;
  }

  .modal__text{
    font-size: 1.4rem;
  }
  .modal__text--link{
    text-decoration: none;
    color: rgb(172, 172, 182);
  }
  .invalid{
    background: orangered;
    text-transform: uppercase;    
    font-size: 1.4rem;
    width: 60%;
    margin: 0 auto;
    display: none;
    animation: invalid 2s;
  }

  @keyframes invalid{
    0%{
      opacity: 0;
      transform: translateY(-.1rem);
    }
    60%{
      transform: translateY(-.1rem);
      opacity: 1;
    }
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }
  .close {
    background: linear-gradient(to right, rgb(5, 31, 116), rgb(14, 14, 58));
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
  }
  .close:hover {
    background: white;
    color: blue;
  }